In [1]:
import csv
import pandas as pd
import numpy as np
import re
import datetime as dt
import time

In [2]:
df = pd.read_csv("Seattle_Police_Department_911_Incident_Response.csv", parse_dates=[0], infer_datetime_format=True)

In [3]:
temp = pd.DatetimeIndex(df['Event Clearance Date'])

In [4]:
temp

DatetimeIndex(['2010-07-17 20:49:00', '2010-07-17 20:50:00',
               '2010-07-17 20:55:00', '2010-07-17 21:00:00',
               '2010-07-17 21:00:00', '2010-07-17 21:02:00',
               '2010-07-17 21:04:00', '2010-07-17 21:05:00',
               '2010-07-17 21:09:00', '2010-07-17 21:17:00',
               ...
                               'NaT',                 'NaT',
                               'NaT',                 'NaT',
                               'NaT',                 'NaT',
                               'NaT',                 'NaT',
                               'NaT',                 'NaT'],
              dtype='datetime64[ns]', length=1330141, freq=None)

In [5]:
df['Event Clearance Time'] = temp

In [6]:
df['Event Clearance Time']

0         2010-07-17 20:49:00
1         2010-07-17 20:50:00
2         2010-07-17 20:55:00
3         2010-07-17 21:00:00
4         2010-07-17 21:00:00
5         2010-07-17 21:02:00
6         2010-07-17 21:04:00
7         2010-07-17 21:05:00
8         2010-07-17 21:09:00
9         2010-07-17 21:17:00
10        2010-07-17 21:18:00
11        2010-07-17 21:28:00
12        2010-07-17 21:28:00
13        2010-07-17 21:30:00
14        2010-07-17 21:31:00
15        2010-07-17 21:31:00
16        2010-07-17 21:39:00
17        2010-07-17 21:41:00
18        2010-07-17 21:46:00
19        2010-07-17 21:47:00
20        2010-07-17 21:54:00
21        2010-07-17 21:37:00
22        2010-07-17 21:41:00
23        2010-07-17 21:46:00
24        2010-07-17 21:48:00
25        2010-07-17 20:33:00
26        2010-07-17 20:33:00
27        2010-07-17 20:38:00
28        2010-07-17 20:39:00
29        2010-07-17 20:42:00
                  ...
1330111   2015-07-11 11:45:00
1330112   2015-07-11 11:48:00
1330113   2015-07-11 11:44:00
1330114   2015-07-11 11:50:00
1330115   2015-07-11 11:43:00
1330116   2015-07-11 11:46:00
1330117   2015-07-06 19:31:00
1330118   2015-07-11 12:05:00
1330119   2015-07-11 12:01:00
1330120   2015-07-11 12:08:00
1330121   2015-07-11 12:05:00
1330122   2015-07-11 12:04:00
1330123   2015-07-06 18:17:00
1330124   2015-07-11 12:45:00
1330125   2015-07-11 12:47:00
1330126   2015-07-11 12:44:00
1330127   2015-07-11 12:54:00
1330128   2015-07-11 12:56:00
1330129   2015-07-11 13:39:00
1330130   2015-07-11 14:05:00
1330131                   NaT
1330132                   NaT
1330133                   NaT
1330134                   NaT
1330135                   NaT
1330136                   NaT
1330137                   NaT
1330138                   NaT
1330139                   NaT
1330140                   NaT
Name: Event Clearance Time, dtype: datetime64[ns]

In [7]:
df['Event Clearance Seconds'] = pd.DatetimeIndex(df['Event Clearance Date']).hour *3600 + pd.DatetimeIndex(df['Event Clearance Date']).minute *60

In [11]:
df['Event Clearance Seconds']

0          74940.0
1          75000.0
2          75300.0
3          75600.0
4          75600.0
5          75720.0
6          75840.0
7          75900.0
8          76140.0
9          76620.0
10         76680.0
11         77280.0
12         77280.0
13         77400.0
14         77460.0
15         77460.0
16         77940.0
17         78060.0
18         78360.0
19         78420.0
20         78840.0
21         77820.0
22         78060.0
23         78360.0
24         78480.0
25         73980.0
26         73980.0
27         74280.0
28         74340.0
29         74520.0
            ...
1330111    42300.0
1330112    42480.0
1330113    42240.0
1330114    42600.0
1330115    42180.0
1330116    42360.0
1330117    70260.0
1330118    43500.0
1330119    43260.0
1330120    43680.0
1330121    43500.0
1330122    43440.0
1330123    65820.0
1330124    45900.0
1330125    46020.0
1330126    45840.0
1330127    46440.0
1330128    46560.0
1330129    49140.0
1330130    50700.0
1330131        NaN
1330132        NaN
1330133        NaN
1330134        NaN
1330135        NaN
1330136        NaN
1330137        NaN
1330138        NaN
1330139        NaN
1330140        NaN
Name: Event Clearance Seconds, dtype: float64

In [24]:
print(df['Event Clearance Seconds'].std()) #Standard Deviation
print(df['Event Clearance Seconds'].mean()) #Mean
print(df['Event Clearance Seconds'].median()) #Median
print(df['Event Clearance Seconds'].max()) #Max
print(df['Event Clearance Seconds'].min()) #Min

25196.37212952583
48387.82390145636
52200.0
634857168.4895461
86340.0
0.0

In [30]:
print(df['Event Clearance Seconds'].std() / 3600)
print(df['Event Clearance Seconds'].mean() / 3600)
print(df['Event Clearance Seconds'].median() / 3600)

6.9989922582016195
13.441062194848989
14.5

In [31]:
.37 * 60 # Standard Deviation is about 7 hours
.44 * 60 # Mean is 1:26pm
.5 * 60 # Median is 2:30pm

30.0